.page-load{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: linear-gradient(45deg, #073447, #08262B);
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}
.page-load-con{
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: start;
    animation: loading 1s infinite ease;
    border-radius: 200px;
}
@keyframes loading {
    0%{
        rotate: 0deg;
    }
    100%{
        rotate: 360deg;
    }
}
.page-load-circle{
    width: 40px;
    height: 40px;
    background-color: #00E0FF;
    border-radius: 40px;
    position: absolute;
}
.page-load-circle:nth-of-type(2){
    transform: translate(0px, 160px);
}
main{
    background-color: black;
}
.sect-one{
    width: 100%;
    height: 881px;
    background-image: url(../../assets/img/BackgroundSectOne.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0px -15px 15px -15px #00E0FF, inset 0px 15px 15px -15px #00E0FF;
}
.sect-one-con{
    width: 1200px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}
.sect-one-title{
    width: 776px;
    height: 126px;
    margin-bottom: 58px;
}
.sect-one-title p{
    color: white;
    font-size: 54px;
    text-transform: uppercase;
}
.sect-one-title span{
    color: #4ABCEC;
}
.sect-one-main-top{
    width: 100%;
    height: 226px;
    display: flex;
    justify-content: space-between;
    align-items: start;
}
.sect-one-main-card-small{
    width: 209px;
    height: 136px;
    background: linear-gradient(180deg, rgba(0, 224, 255, 0.11), rgba(0, 224, 255, 0.045));
    border-radius: 20px;
    border: 2px solid rgba(0, 224, 255, 0.11);
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    padding: 36px;
}
.sect-one-main-card-small p{
    color: white;
    font-size: 15px;
    margin-top: 15px;
}
.sect-one-main-bot{
    width: 100%;
    height: 220px;
    display: flex;
    justify-content: space-between;
    align-items: start;
}
.sect-one-main-card-big{
    width: 307px;
    height: 137px;
    background: linear-gradient(180deg, rgba(0, 224, 255, 0.11), rgba(0, 224, 255, 0.045));
    border-radius: 20px;
    border: 2px solid rgba(0, 224, 255, 0.11);
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    padding: 40px;
}
.sect-one-main-card-big p{
    color: white;
    font-size: 15px;
    margin-top: 15px;
}
div.sect-one-card-highlight-small{
    width: 30px;
    position: absolute;
    box-shadow: 0 0 10px 3px #00E0FF;
    transform: translate(5px, 173px);
}
div.sect-one-card-highlight-big{
    width: 30px;
    position: absolute;
    box-shadow: 0 0 10px 3px #00E0FF;
    transform: translate(5px, 178px);
}
.sect-two{
    width: 100%;
    height: 913px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../../assets/img/SectTwoBack.png);
    box-shadow: inset 0px -15px 15px -15px #00E0FF, inset 0px 15px 15px -15px #00E0FF;
}
.sect-two-con{
    width: 1200px;
    height: 687px;
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: column;
}
.sect-two-title p{
    font-size: 54px;
    color: white;
    text-transform: uppercase;
    width: 776px;
}
.sect-two-title span{
    font-size: 54px;
    color: #4ABCEC;
}
.sect-two-main{
    width: 692px;
    height: 368px;
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: column;
}
.sect-two-card{
    width: 692px;
    display: flex;
    justify-content: start;
    align-items: center;
    background: linear-gradient(90deg, rgba(31, 63, 77, 0.53) 52%, rgba(31, 75, 94, 0));
    font-size: 15px;
    color: white;
    line-height: 21px;
}
.sect-two-card:nth-of-type(1){
    height: 61px;
}
.sect-two-card:nth-of-type(2){
    height: 118px;
}
.sect-two-card:nth-of-type(2) p{
    width: 559px;
}
.sect-two-card:nth-of-type(3){
    height: 94px;
}
.sect-two-card:nth-of-type(3) p{
    width: 505px;
}
.sect-two-card:nth-of-type(4){
    height: 80px;
}
.sect-two-card:nth-of-type(4) p{
    width: 446px;
}
.sect-two-card-img{
    height: 96.5%;
    width: 57px;
    display: flex;
    justify-content: end;
    align-items: start;
    margin-right: 19px;
}
.sect-two-card-img:nth-of-type(1){
    padding-top: 3.5%;
}
#SectTwoFlash1{
    width: 30px;
    box-shadow: 0 0 10px 3px #00E0FF;
    transform: translate(75px,0px);
    z-index: 0;
}
#SectTwoFlash2{
    width: 30px;
    box-shadow: 0 0 10px 3px #00E0FF;
    transform: translate(75px,-30px);
    z-index: 0;
}
#SectTwoFlash3{
    width: 30px;
    box-shadow: 0 0 10px 3px #00E0FF;
    transform: translate(75px,-20px);
    z-index: 0;
}
#SectTwoFlash4{
    width: 30px;
    box-shadow: 0 0 10px 3px #00E0FF;
    transform: translate(75px,-10px);
    z-index: 0;
}
.sect-two-button{
    width: 479px;
    height: 60px;
    margin-top: 50px;
}
.sect-two-button button{
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(3, 225, 255, 0.6), #13CDC2);
    border: none;
    border-radius: 9px;
    box-shadow: 0px 7px 20px -7px #00E0FF;
    cursor: pointer;
}
.sect-two-button p{
    color: white;
    font-weight: 800;
    font-size: 12px;
    letter-spacing: 3px;
    text-transform: uppercase;
}
.sect-three{
    width: 100%;
    height: 809px;
    background: linear-gradient(45deg, rgba(2, 35, 53, 0.8), rgba(12, 55, 61, 0.8));
    box-shadow: inset 0px -15px 15px -15px #00E0FF, inset 0px 15px 15px -15px #00E0FF;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sect-three-con{
    width: 1200px;
    height: 576px;
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: column;
}
.sect-three-title p{
    color: white;
    font-size: 54px;
    text-transform: uppercase;
}
.sect-three-title span{
    color: #4ABCEC;
}
.sect-three-main{
    width: 100%;
    height: 458px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.sect-three-main-top{
    width: 100%;
    height: 206px;
    display: flex;
    justify-content: space-between;
    align-items: start;
}
.sect-three-text{
    width: 22.4%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    color: white;
    font-size: 16px;
    line-height: 28px;
}
.sect-three-text p{
    width: 93%;
}
.sect-three-main-bot{
    width: 100%;
    height: 206px;
    display: flex;
    justify-content: space-between;
    align-items: start;
}
.sect-four{
    width: 100%;
    height: 890px;
    background-image: url(../../assets/img/SectFourBack.png );
    background-repeat: no-repeat;
    background-position: 0 -20px;
    box-shadow: inset 0px -15px 15px -15px #00E0FF, inset 0px 15px 15px -15px #00E0FF;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sect-four-con{
    width: 1200px;
    height: 675px;
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: column;
}
.sect-four-button{
    width: 479px;
    height: 60px;
    margin-top: 50px;
}
.sect-four-button button{
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(3, 225, 255, 0.6), #13CDC2);
    border: none;
    border-radius: 9px;
    box-shadow: 0px 7px 20px -7px #00E0FF;
    cursor: pointer;
}
.sect-four-button p{
    color: white;
    font-weight: 800;
    font-size: 12px;
    letter-spacing: 3px;
    text-transform: uppercase;
}
.sect-four-title{
    width: 900px;
}
.sect-four-title p{
    color: white;
    font-size: 54px;
    text-transform: uppercase;
}
.sect-four-title span{
    color: #4ABCEC;
}
.sect-four-main{
    width: 690px;
    height: 398px;
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: column;
    margin-top: 20px;
}
.sect-four-card{
    display: flex;
    color: white;
    font-size: 16px;
    line-height: 23px;
}
.sect-four-card-img{
    margin-right: 21px;
}
.sect-four-card p{
    margin-top: 7px;
}
.sect-four-card:nth-of-type(1){
    width: 627px;
    height: 36px;
}
.sect-four-card:nth-of-type(2){
    width: 627px;
    height: 52px;
}
.sect-four-card:nth-of-type(3){
    width: 690px;
    height: 52px;
}
.sect-four-card:nth-of-type(4){
    width: 627px;
    height: 52px;
}
.sect-four-card:nth-of-type(5){
    width: 666px;
    height: 98px;
}
#SectFourLight{
    width: 34px;
    box-shadow: 0 0 10px 3px #00E0FF;
    transform: translate(52px, 19px);
    z-index: 0;
    opacity: 0.75;
}
.sect-five{
    width: 100%;
    height: 2182px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, rgba(2, 35, 53, 0.8), rgba(12, 55, 61, 0.8));
    box-shadow: inset 0px -15px 15px -15px #00E0FF, inset 0px 15px 15px -15px #00E0FF;
}
.sect-five-con{
    width: 1200px;
    height: 1970px;
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: column;
}
.sect-five-title p{
    font-size: 54px;
    color: white;
    text-transform: uppercase;
}
.sect-five-title span{
    color: #4ABCEC;
}
.sect-five-desc{
    font-size: 18px;
    color: white;
}
.sect-five-main{
    width: 100%;
    height: 1715px;
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: column;
}
.sect-five-button{
    width: 479px;
    height: 60px;
    margin-top: 50px;
}
.sect-five-button button{
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(3, 225, 255, 0.6), #13CDC2);
    border: none;
    border-radius: 9px;
    box-shadow: 0px 7px 20px -7px #00E0FF;
    cursor: pointer;
}
.sect-five-button p{
    color: white;
    font-weight: 800;
    font-size: 12px;
    letter-spacing: 3px;
    text-transform: uppercase;
}
.sect-five-junior, .sect-five-senior{
    width: 1171px;
    height: 56px;
    background: linear-gradient(-80deg, #073447, #08262B);
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 17px;
    padding-right: 12px;
}
.five-junior-left{
    display: flex;
}
.junior-left-dot{
    width: 24px;
    display: flex;
    align-items: center;
    margin-right: 6px;
}
.junior-left-dot div{
    width: 10px;
    height: 10px;
    background: linear-gradient(0deg, #00E0FF, #4A8BEC);
    border-radius: 10px;
    box-shadow: 0 4px 8px 0px rgba(0, 224, 255, 0.56);
}
.junior-left-text p{
    font-size: 24px;
    color: white;
    font-weight: 700;
}
.junior-left-text span{
    font-size: 16px;
    color: #08B1B9;
    font-weight: 500;
}
.five-junior-right{
    height: 32px;
    cursor: pointer;
}
.junior-left-add-text{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}
.junior-left-add-text p{
    width: 102px;
    height: 17px;
    font-size: 13px;
    text-transform: uppercase;
    background-color: #00E0FF;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sect-five-card{
    display: flex;
    justify-content: start;
    align-items: start;
    width: 1200px;
    margin-bottom: 40px;
}
.sect-five-info-text{
    width: 1157px;
}
.sect-five-info-number{
    width: 43px;
    height: 100%;
}
.sect-five-info-number div{
    width: 27px;
    height: 27px;
    background-color: #4ABCEC;
    border-radius: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sect-five-info-number p{
    font-size: 14px;
    font-weight: 800;
    color: #08262B;
}
.sect-five-info-text p:nth-of-type(1){
    font-size: 16px;
    font-weight: 800;
    color: #4ABCEC;
    margin-bottom: 14px;
    margin-top: 4px;
}
.sect-five-info-text p:nth-of-type(2){
    font-size: 16px;
    font-weight: 500;
    color: white;
}
.sect-six{
    width: 100%;
    height: 736px;
    display: flex;
    justify-content: center;
    align-items: end;
    background-image: url(../../assets/img/SectSixBack.png);
    box-shadow: inset 0px -15px 15px -15px #00E0FF, inset 0px 15px 15px -15px #00E0FF;
}
.sect-six-con{
    width: 1200px;
    height: 672px;
    display: flex;
}
.sect-six-text p:nth-of-type(1){
    height: 150px;
    font-size: 54px;
    color: white;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}
.sect-six-text p:nth-of-type(2){
    font-size: 15px;
    color: white;
    width: 488px;
    line-height: 24px;
}
.sect-six-img{
    width: 531px;
    display: flex;
    justify-content: end;
    align-items: end;
}
.sect-six-img p{
    width: 184px;
    position: absolute;
    color: white;
    transform: translate(0, -100px);
    font-size: 14px;
}
.sect-six-img span{
    color: #00E0FF;
    font-size: 24px;
    font-weight: 800;
}
.sect-seven{
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0px -15px 15px -15px #00E0FF, inset 0px 15px 15px -15px #00E0FF;
    background: linear-gradient(45deg, rgba(2, 35, 53, 0.8), rgba(12, 55, 61, 0.8));
    overflow: hidden;
}
.sect-seven-con{
    width: 1200px;
    height: 514px;
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: column;
}
.sect-seven-top{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sect-seven-top-title{
    font-size: 54px;
    line-height: 54px;
    text-transform: uppercase;
    color: white;
}
.sect-seven-top-button{
    width: 213px;
    height: 60px;
}
.sect-seven-top-button button{
    width: 213px;
    height: 60px;
    background: none;
    border: 1px solid #00E0FF;
    border-radius: 9px;
}
.sect-seven-top-button p{
    font-size: 12px;
    font-weight: 700;
    color: #00E0FF;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: 2px;
}
.sect-seven-swiper{
    width: 1200px;
    height: 402px;
}
.sect-seven-card{
    width: 387px;
    height: 402px;
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: column;
}
.sect-seven-card-text{
    width: 100%;
    height: 107px;
    display: flex;
    justify-content: space-around;
    align-items: start;
    flex-direction: column;
}
.sect-seven-card-text div:nth-of-type(1){
    font-size: 16px;
    color: white;
    font-weight: 700;
}
.sect-seven-card-text div:nth-of-type(2){
    font-size: 15px;
    color: white;
    font-weight: 500;
}
.sect-seven-card-button button{
    background: none;
    border: none;
    color: #4ABCEC;
    text-decoration: underline;
}
.swiper{
    overflow: hidden !important;
    width: 1200px;
}
.swiper-wrapper{
    width: 400px !important;
}
.swiper-button-prev{
    width: 62px !important;
    height: 62px !important;
    background: linear-gradient(180deg, rgba(3, 225, 255, 0.6), #13CDC2);
    border-radius: 62px;
    opacity: 1;
    box-shadow: 0 7px 20px -7px #00E0FF;
    transform: translate(10px, -90px);
}
.swiper-button-prev:after{
    width: 42px;
    height: 42px;
    content: url(../../assets/img/ArrowToLeft.png) !important;
    transform: translate(10px, -12px);
}
.swiper-button-next{
    width: 62px !important;
    height: 62px !important;
    background: linear-gradient(180deg, rgba(3, 225, 255, 0.6), #13CDC2);
    border-radius: 62px;
    opacity: 1;
    box-shadow: 0 7px 20px -7px #00E0FF;
    transform: translate(-10px, -90px);
}
.swiper-button-prev.swiper-button-disabled{
    background: #08262B !important;
    box-shadow: none !important;
    opacity: 0.8 !important;
}
.swiper-button-next.swiper-button-disabled{
    background: #08262B !important;
    box-shadow: none !important;
    opacity: 0.8 !important;
}
.swiper-button-next:after{
    width: 42px;
    height: 42px;
    content: url(../../assets/img/ArrowToRight.png) !important;
    transform: translate(10px, -12px);
}
.swiper-slide{
    width: 400px !important;
    height: 402px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    opacity: 1;
    transition: 0.5s all ease;
}
.swiper-slide-prev{
    opacity: 0.3;
    transition: 0.5s all ease;
}
.sect-eight{
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0px -15px 15px -15px #00E0FF, inset 0px 15px 15px -15px #00E0FF;
    background: linear-gradient(-45deg, rgba(2, 35, 53, 0.8), rgba(12, 55, 61, 0.8));
    overflow: hidden;
}
.sect-eight-con{
    width: 1200px;
    height: 514px;
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: column;
}
.sect-eight-top{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sect-eight-top-title{
    font-size: 54px;
    line-height: 54px;
    text-transform: uppercase;
    color: white;
}
.sect-eight-top-button{
    width: 213px;
    height: 60px;
}
.sect-eight-top-button button{
    width: 183px;
    height: 60px;
    background: none;
    border: 1px solid #00E0FF;
    border-radius: 9px;
}
.sect-eight-top-button p{
    font-size: 12px;
    font-weight: 700;
    color: #00E0FF;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: 2px;
}
.sect-eight-swiper{
    width: 1200px;
    height: 402px;
}
.sect-eight-card{
    width: 387px;
    height: 402px;
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: column;
}
.sect-eight-card-text{
    width: 100%;
    height: 107px;
    display: flex;
    justify-content: space-around;
    align-items: start;
    flex-direction: column;
}
.sect-eight-card-text div:nth-of-type(1){
    font-size: 16px;
    color: white;
    font-weight: 700;
}
.sect-eight-card-text div:nth-of-type(2){
    font-size: 15px;
    color: white;
    font-weight: 500;
}
.sect-eight-card-button button{
    background: none;
    border: none;
    color: #4ABCEC;
    text-decoration: underline;
}
#GetUp{
    width: 302px;
    height: 139px;
    rotate: 270deg;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transform: translate(150px, 20px);
    z-index: 10;
}
#GetUp p{
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 3.6px;
    text-transform: uppercase;
    color: #00E0FF;
}
#GetUp button{
    width: 100px;
    height: 100px;
    box-shadow: 0px 7px 20px -7px #00E0FF;
    background: linear-gradient(180deg, rgba(3, 225, 255, 0.66), #13CDC2);
    border-radius: 100px;
    border: none;
    rotate: 90deg;
    cursor: pointer;
}
#GetUp div{
    width: 139px;
    height: 139px;
    background-color: rgba(255,255,255,0.05);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 139px;
}
#GetUp img{
    rotate: 90deg;
}