@font-face {
    font-family: Avenir;
    font-weight: 600;
    src: url(../../assets/font/AvenirNextCyr-Medium.ttf);
}
@font-face {
    font-family: Avenir;
    font-weight: 700;
    src: url(../../assets/font/AvenirNextCyr-Demi.ttf);
}
@font-face {
    font-family: Avenir;
    font-weight: 800;
    src: url(../../assets/font/AvenirNextCyr-Bold.ttf);
}
@font-face {
    font-family: Avenir;
    font-weight: 900;
    src: url(../../assets/font/AvenirNextCyr-Heavy.ttf);
}
*{
    margin: 0;
    padding: 0;
    font-family: Avenir;
    z-index: 1;
}
.absolute{
    position: absolute;
}
header{
    width: 100%;
    height: 1000px;
    background-image: url(../../assets/img/Background.png);
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: start;
    box-shadow: inset 0px -15px 15px -15px #00E0FF;
}
.header-con{
    width: 1200px;
    height: 100%;
}
nav{
    width: 100%;
    height: 178px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav_left{
    width: 206px;
    height: 28px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav_left p{
    font-size: 18px;
    color: white;
}
.header-main{
    width: 100%;
    height: 722px;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}
.header-hello{
    font-size: 18px;
    font-weight: 600;
    color: #747D81;
}
.header-title{
    font-size: 108px;
    font-weight: 600;
    background: -webkit-linear-gradient(white 32%, black);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.header-desc{
    font-size: 18px;
    color: white;
    width: 580px;
    height: 62px;
    display: flex;
    align-items: end;
}
.header-paper{
    width: 576px;
    height: 240px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-paper-text{
    display: flex;
    flex-direction: column;
    width: 472px;
}
.header-paper-text p:nth-of-type(1){
    color: white;
    font-size: 18px;
    font-weight: 700;
    line-height: 40px;
}
.header-paper-text p:nth-of-type(2){
    color: #00E0FF;
    font-weight: 500;
    font-size: 18px;
}
/* .header-subscribe{
    width: 479px;
    height: 60px;
    margin-top: 50px;
}
.header-subscribe button{
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(3, 225, 255, 0.6), #13CDC2);
    border: none;
    border-radius: 9px;
    box-shadow: 0px 7px 20px -7px #00E0FF;
    cursor: pointer;
}
.header-subscribe p{
    color: white;
    font-weight: 800;
    font-size: 12px;
    letter-spacing: 3px;
    text-transform: uppercase;
} */
#ScrollDown{
    rotate: 270deg;
    width: 196px;
    height: 20px;
    top: 800px;
    left: 45%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#ScrollDown p{
    font-size: 10px;
    text-transform: uppercase;
    color: #747D81;
    letter-spacing: 3.6px;
    font-weight: 700;
}
#ScrollDown img{
    rotate: 90deg;
}
#Support{
    width: 394px;
    height: 139px;
    rotate: 270deg;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 270px;
    left: -20px;
}
#Support p{
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 3.6px;
    text-transform: uppercase;
    color: #00E0FF;
}
#Support button{
    width: 100px;
    height: 100px;
    box-shadow: 0px 7px 20px -7px #00E0FF;
    background: linear-gradient(180deg, rgba(3, 225, 255, 0.66), #13CDC2);
    border-radius: 100px;
    border: none;
    rotate: 90deg;
    cursor: pointer;
}
#Support div{
    width: 139px;
    height: 139px;
    background-color: rgba(255,255,255,0.05);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 139px;
}
